    <h1>Persons</h1>
    <hr> {{#each persons}}

    <h3>{{name}}</h3>
    <div>Age: {{age}}</div>

    <ul>
        <h4>Cars:</h4>
        {{#if car}} {{#this.car}}
        <li>{{this}}</li>
        {{/this.car}} {{else}}
        <li>No Cars</li>
        {{/if}}
    </ul>

    {{#if foods}}
    <ul>
        <h4>Liked foods:</h4>
        {{#this.foods}}
        <li>{{this.likes}}</li>
        {{/this.foods}}
    </ul>
    <ul>
        <h4>Disliked foods:</h4>
        {{#this.foods}}
        <li>{{this.dislikes}}</li>
        {{/this.foods}}
    </ul>
    {{else}}
    <ul>
        <h4>Liked foods:</h4>
        <li>No liked foods</li>
        <h4>Disliked foods:</h4>
        <li>No disliked foods</li>
    </ul>
    {{/if}}

    <hr> {{/each}}
